apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: catalog-db
  namespace: ecommerce
spec:
  selector:
    matchLabels:
      app: catalog-db
  serviceName: catalog-db
  replicas: 1
  template:
    metadata:
      labels:
        app: catalog-db
    spec:
      containers:
        - name: catalog-db
          image: postgres:latest
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
            - name: POSTGRES_DB
              value: catalog
          volumeMounts:
            - mountPath: /var/lib/postgresql
              name: catalog-db-storage
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - postgres
            initialDelaySeconds: 10
            periodSeconds: 5
  volumeClaimTemplates:
    - metadata:
        name: catalog-db-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
