statefulset:
  replicas: 1
  image: postgres:latest
  dbName: basket
  dbUser: postgres
  dbPassword: postgres
  storage: 1Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
