apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: ecommerce-mq
  labels:
    app: ecommerce-mq
spec:
  serviceName: ecommerce-mq
  replicas: {{ .Values.statefulset.replicas }}
  selector:
    matchLabels:
      app: ecommerce-mq
  template:
    metadata:
      labels:
        app: ecommerce-mq
    spec:
      containers:
        - name: ecommerce-mq
          image: {{ .Values.statefulset.image }}
          ports:
            - name: amqp
              containerPort: 5672
            - name: management
              containerPort: 15672
          env:
            - name: RABBITMQ_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_DEFAULT_USER
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_DEFAULT_PASS
          resources:
            {{- toYaml .Values.statefulset.resources | nindent 12 }}
          livenessProbe:
            exec:
              command: ["rabbitmq-diagnostics", "ping"]
            initialDelaySeconds: 60
            timeoutSeconds: 5
            periodSeconds: 30
            failureThreshold: 10
          readinessProbe:
            exec:
              command: ["rabbitmq-diagnostics", "check_port_connectivity"]
            initialDelaySeconds: 60
            timeoutSeconds: 5
            periodSeconds: 15
            failureThreshold: 10
          volumeMounts:
            - name: rabbitmq-data
              mountPath: /var/lib/rabbitmq/mnesia
  volumeClaimTemplates:
    - metadata:
        name: rabbitmq-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.statefulset.storage }}
